body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: white;
}

.whiteBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

canvas {
    cursor: crosshair;
}

.login-container {
    background-color: blue;
    text-align: center;
    width: 25vw;
    margin: 3rem auto 0 auto;
    padding: 2rem;
    border-radius: 10px;
}

.connect-to-whiteboard {
    margin: 0;
}