body {
    font-family: Figtree, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    color: white;
}

.whiteBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

canvas {
    cursor: crosshair;
}

.login-container {
    background-color: blue;
}