.board {
    width: 100%; /* Full width of the left panel */
    border: 1px solid #ccc; /* Optional: border for the canvas */
}

.container {
    display: flex;
    width: 100%;
}

.tools-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.text-color {
}

.color {
}

.text-tools {
    color: black;
}

.tools {
}

.tools button.active {
    background-color: darkgray;
}

.left-panel {
    width: 70%; /* Adjust width of the left panel */
    padding: 1.25rem 1.25rem 0 1.25rem;
    box-sizing:border-box;
}

.right-panel {
    width: 30%; /* Adjust width of the right panel */
    padding: 20px; /* Optional: add padding to the right panel */
    background-color: white; /* Light background for the chat panel */
    overflow-y: auto; /* Allow scrolling if content exceeds panel height */
    box-sizing: border-box;
    height: 74vh;
    margin-top: 6.85vh;
    border: 1px solid #ccc; /* Optional: border for the canvas */
    margin-right: 1vw;
}