/* Reset default canvas styling */
canvas {
    all: unset; /* Removes all user-agent styles */
    display: block;
    width: 100%;
    height: 100%;
    touch-action: none; /* Prevents scrolling on touch devices while drawing */
}

/* Container for the entire layout */
.container {
    display: flex;
    width: 100%;
    height: 85vh; /* Occupy full viewport height */
}

.text-color,
.text-tools {
    color: black;
}

.tools button.active {
    background-color: darkgray;
}


.quitButton {
    border: none;
    background-color: #2D6FA8;
    color: white;
    font: inherit;
    border-radius: 10px;
    padding: 0.3125rem 0.625rem;
    font-size: 0.9rem;
    cursor: pointer;
    margin-left: auto;
}

    .quitButton:hover {
        background-color: #2A6191;
        box-shadow: 0 0 2px 1px rgb(39,88,132);
    }

.icon-btn {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.2s;
    padding: 5px;
}

    .icon-btn svg {
        color: #333;
        vertical-align: middle;
    }

    .icon-btn:hover {
        background: #e0e0e0;
    }

    .icon-btn.active {
        background: #cce4ff;
    }

        .icon-btn.active svg {
            color: white;
        }

.whiteboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.spacer {
    flex-grow: 1;
}

.tools-container {
    height: 60px; /* Adjust as needed */
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0 1rem;
}

.main-area {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.canvas-container {
    height: 80vh;
    flex: 3;
    background: white;
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-left: 1rem; /* Add margin to left side */
    margin-right: 0.5rem; /* Add spacing between canvas and chat */
    overflow: hidden;
}

.chat-container {
    height: 80vh;
    flex-direction: column;
    box-sizing: border-box;
    flex: 1;
    border-left: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1.5rem;
    margin-right: 1rem; /* Add right margin from edge */
    background-color: white;
}

.canvas-container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.board {
    display: block;
    width: 100%;
    height: 100%;
}


.color-part {
    margin-right: 0.5rem;
}

.color-part label{
    margin-right: 0.5rem;
}

.tools {
    margin-right: 0.5rem;
}

.tools label {
    margin-right: 0.5rem;
}